$bg-default: white;
$bg-darkmode: rgb(28, 29, 33);
$accent-primary: rgb(253, 106, 59);
$accent-secondary: rgb(254, 171, 121);
$text-primary: rgb(28, 29, 33);
$text-darkmode-primary: white;
$text-light: rgb(133, 133, 133);
