@use "../styles/colors.scss";

.home-page {
  flex-grow: 1;
  min-height: 100%;
  position: relative;

  > .showmore {
    margin: 20px 0 40px 0;
    background-color: colors.$accent-primary;
    color: colors.$text-darkmode-primary;
    border: none;
    padding: 10px;
    margin-left: 35px; // aligns with story column
    cursor: pointer;
  }

  .story-container {
    padding: 13px 0;
  }
}
