@use "../styles/colors.scss";

.home-page {
  flex-grow: 1;
  min-height: 100%;
  position: relative;

  > .heading {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  > .heading > div,
  > .heading .y-icon {
    margin-right: 20px;
  }

  > .heading .y-icon {
    height: 35px;
    width: 35px;
  }

  > .heading > .title {
    font-size: 28px;
    font-weight: 900;
  }

  .home-navbar > button {
    background-color: transparent;
    border: none;
    font-size: 14px;
    cursor: pointer;
  }

  .home-navbar > button.-active {
    color: colors.$accent-primary;
  }

  > .body {
    margin-bottom: 80px; // takes into account footer margins
  }

  > .body > .showmore {
    margin: 20px 0 40px 0;
  }

  > .body .story-container {
    padding: 15px 0;
  }

  > .footer {
    position: absolute; // keeps footer at bottom of page
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid colors.$accent-primary;
    padding-top: 30px;
  }
}
