@use "../styles/colors.scss";

.story-container {
  display: flex;

  > .content-column > .heading > .source,
  > .content-column > .body,
  > .content-column > .body > .save-button {
    color: colors.$text-light;
    font-size: 12px;
  }

  > .index-column > .index {
    color: colors.$text-light;
    margin-right: 10px;
  }

  > .content-column > .heading {
    margin-bottom: 10px;
  }

  > .content-column > .heading > .titlelink {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    font-size: 18px;
    margin-right: 5px;
  }

  > .content-column > .heading > .source {
    white-space: nowrap;
  }

  > .content-column > .body {
    font-size: 12px;
    display: flex;
    align-items: center;
  }

  > .content-column > .body > span {
    margin-right: 5px;
  }

  > .content-column > .body > .save-button {
    background-color: transparent;
    border: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  > .content-column > .body > .save-button > img {
    height: 10px;
    width: 10px;
    margin-right: 5px;
    margin-left: -2px;
    filter: invert(62%) sepia(0%) saturate(877%) hue-rotate(200deg)
      brightness(85%) contrast(82%);
  }

  > .content-column > .body > .save-button.-saved > img {
    filter: invert(56%) sepia(82%) saturate(3019%) hue-rotate(336deg)
      brightness(101%) contrast(98%);
  }
}
