@use "../styles/colors.scss";

.theme {
  font-family: Arial, Helvetica, sans-serif;
  border-top: 8px solid colors.$accent-primary;
  padding: 50px 100px;
  flex-grow: 1;
}

.theme.-classic {
  background-color: colors.$bg-default;
  color: colors.$text-primary;

  &.-darkmode {
    background-color: colors.$bg-darkmode;
    color: colors.$text-darkmode-primary;
  }
}
